{% extends "users/base.html" %}
{% block content %}
	<div class="content-section">
		<div class="media">
          <img class="rounded-circle article-img" src="{{ profile.image.url }}">
            <p class="text-secondary">Логин: {{ profile.user.username }}</p>
			<p class="text-secondary">Имя: {{ profile.firstname }}</p>
			<p class="text-secondary">Фамилия: {{ profile.lastname }}</p>
			<p class="text-secondary">Пол: {{ profile.gender }}</p>

        </div>

				<div class="form-group">
				  <a class="btn btn-outline-info" href="{% url 'match-create' profile.user.id %}">Мэтч</a>
			  	</div>
	</div>
{% endblock content %}